<%= flash[:message] %>
<%= link_to 'Voltar', patients_path %>

<h1>Lista de exercícios - <%= @patient_exercises.first.patient.name %></h1>

<%= form_with url: start_session_patient_exercises_path(patient_id: @patient_exercises.first.patient.id), method: :get, data: { turbo: false } do %>
  <table>
    <thead>
      <tr>
        <th>Exercício</th>
        <th>Sucessos</th>
        <th>Falhas</th>
        <th>Com ajuda</th>
        <th>Tentativas</th>
      </tr>
    </thead>
    <tbody>
      <% @patient_exercises.each do |patient_exercise| %>
        <tr>
          <td>
            <%= check_box_tag "patient_exercise_ids[]", patient_exercise.id %>
            <%= patient_exercise.exercise.name %>
          </td>
          <td><%= patient_exercise.success %></td>
          <td><%= patient_exercise.failed %></td>
          <td><%= patient_exercise.help %></td>
          <td><%= total_attempts(patient_exercise) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Iniciar Avaliação" %>
<% end %>
<br>

<% if admin_signed_in? %>
  <%= form_with url: patient_exercises_path(patient_id: @patient_exercises.first.patient.id), method: :post, data: { turbo: false } do |form| %>
    <div class="field">
      <h3><%= form.label 'Exercícios Disponíveis' %></h3>
      <%= form.select :exercise_id, options_for_select(@available_exercises.map { |available_exercise| [available_exercise.name, available_exercise.id] }) %>
    </div>
    <div class="actions">
      <%= form.submit 'Adicionar Novo Exercício' %>
    </div>
  <% end %>
  <%= link_to 'Voltar', backoffice_path %>
<% end %>
