<%= flash[:message] %>

<h1>Lista de exercícios - <%= @patient_exercises.first.patient.name %></h1>

<%= link_to 'Pacientes', patients_path %>
<%= form_with url: start_session_assessments_path(patient_id: @patient_exercises.first.patient.id), method: :get, data: { turbo: false } do %>
  <table>
    <thead>
      <tr>
        <th>Exercício</th>
        <th>Sucessos</th>
        <th>Falhas</th>
        <th>Com ajuda</th>
        <th>Tentativas</th>
      </tr>
    </thead>
    <tbody>
      <% @patient_exercises.each do |patient_exercise| %>
        <tr>
          <td>
            <%= check_box_tag "patient_exercise_ids[]", patient_exercise.id %>
            <%= patient_exercise.exercise.name %>
          </td>
          <td><%= patient_exercise.success %></td>
          <td><%= patient_exercise.failed %></td>
          <td><%= patient_exercise.help %></td>
          <td><%= total_attempts(patient_exercise) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Iniciar Avaliação" %>
<% end %>
