<h1>Avaliação - <%= @patient_exercises.first.patient.name %></h1>

<% @patient_exercises.each do |patient_exercise| %>
  <h3> <%= "#{patient_exercise.exercise.name} - Tentativas: #{patient_exercise.attempts}" %> </h3>
  <p>
    <%= link_to 'Sucesso', success_patient_exercise_path(patient_exercise, patient_exercise_ids: patient_exercise_ids(@patient_exercises)), data: { "turbo-method": :patch } %>
  </p>
  <p>
    <%= link_to 'Falha', failed_patient_exercise_path(patient_exercise, patient_exercise_ids: patient_exercise_ids(@patient_exercises)), data: { "turbo-method": :patch } %>
  </p>
  <p>
    <%= link_to 'Com ajuda', help_patient_exercise_path(patient_exercise, patient_exercise_ids: patient_exercise_ids(@patient_exercises)), data: { "turbo-method": :patch } %>
  </p>
<% end %>

<h2><%= link_to "Finalizar", assessment_path(@patient_exercises.first.patient) %></h2>
