<h1>Admins</h1>

<p> <%= link_to 'Lista de Exercícios', exercises_path %> </p>
<p> <%= link_to 'Cadastrar Exercício', new_exercise_path %> </p>
<br>
<p> <%= link_to 'Lista de Pacientes', patients_path %> </p>
<p> <%= link_to 'Cadastrar Paciente', new_patient_path %> </p>
<br>
<p> <%= link_to 'Lista de Terapeutas', therapists_path %> </p>
<p> <%= link_to 'Cadastrar Terapeuta', new_therapist_path %> </p>
