<h1>Backoffice dos Admins</h1>

<p> <%= link_to 'Lista de Exercícios', exercises_path %> </p>
<p> <%= link_to 'Cadastrar Exercícios', new_exercise_path %> </p>
<br>
<p> <%= link_to 'Lista de Pacientes', patients_path %> </p>
<p> <%= link_to 'Cadastrar Pacientes', new_patient_path %> </p>
<br>
<p> <%= link_to 'Associar Exercícios/Pacientes', patient_exercises_path %> </p>
