<%= link_to 'Voltar', backoffice_path %>
<h1>Cadastrar paciente</h1>

<div>
  <%= flash[:message] %>
</div>

<%= form_with(model: @patient, local: true) do |form| %>
  <div class="field">
    <%= form.label 'Nome' %>
    <%= form.text_field :name %>
  </div>

  <h1>Selecione os treinos que deseja adicionar</h1>

  <ul>
    <% @exercises.each do |exercise| %>
      <li>
        <%= check_box_tag 'exercise_ids[]', exercise.id %>
        <%= label_tag "exercise_ids_#{exercise.id}", exercise.name %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= submit_tag 'Criar Paciente' %>
  </div>
<% end %>
