<h1>Cadastrar paciente</h1>

<div>
  <%= flash[:message] %>
</div>

<%= link_to 'Voltar', backoffice_path %>
<%= form_with(model: @patient, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <h3><%= form.label 'Exercícios Disponíveis' %></h3>
    <%= form.select :exercise_id, options_for_select(@exercises.map { |exercise| [exercise.name, exercise.id] }) %>
  </div>
  <div class="actions">
    <%= form.submit 'Criar Paciente' %>
  </div>
<% end %>
