<h1>Cadastrar exercício</h1>

<%= form_with(model: @exercise, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Exercise' %>
  </div>
<% end %>

<%= link_to 'Voltar', backoffice_path %>
