<%= link_to 'Backoffice', backoffice_path %>
<%= form_with(model: @exercise, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Exercise' %>
  </div>
<% end %>
